<% provide(:title, "#{@user.full_name} - Declare Housing Intent") %>
<h1><%= @user.full_name %> - Declare Housing Intent</h1>

<%= react_component("intent/IntentSelection", user: @user, draw: @user.draw, is_editing: true) %>

<%= link_to 'Cancel', user_path(@user) %>
