<ul class="list-group list-group-flush">
  <% unless draw.next_groups.empty? %>
    <li class="list-group-item">
      Groups currently picking suites: <%= draw.next_groups.map(&:name).join(', ') %> 
    </li>
  <% end %>
</ul>


