<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @user.name %>,</p>
    <p>Your housing selection clip has been disbanded, either by a group leader or an admin.
    Please e-mail <%= @college.admin_email %> if you have any questions.</p>
    <p>Sincerely,<br /><%= @college.dean %></p>
  </body>
</html>
