<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @group.leader.name %>,</p>
    <p>You have been invited to join a housing selection clip with <%= @clip.name %>. Clips allow you to choose suites at the same time as everyone else in the clip.</p>
    <p>Sincerely,<br /><%= @college.dean %></p>
  </body>
</html>
