<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @group.leader.name %>,</p>
    <p>You have been invited to join a clip with <%= @clip.groups.first.name %></p>
    <p>Sincerely,<br /><%= @college.dean %></p>
  </body>
</html>
