.printable-group-report {
  td[data-role="group-leader"] { width: 20%; }
  td[data-role="group-members"] { width: 70%; }
  td[data-role="group-transfers"] { width: 10%; }
}

/* styles for physically printing the group report */
@media print {

  // serif fonts for printed pages
  body {
    font-family: "yale", serif;
  }

  // reformat the table
  td[data-role="group-leader"] {
    border-bottom: 1px solid black;
  }
  td[data-role="group-members"] {
    display: block;
    width: 100%;
  }
  td {
    font-size: 22px;
  }

   // put the title of the draw on every page
   // white background to mask the previous header
   h3 {
     position: fixed;
     width: 500px;
     background-color: white !important;
     border: 10px solid white;

   }
   h3::before { content:"\a"; white-space: pre; }

  /* remove links, navbar and footer */
  .top-bar, .top-bar-title, .footer, .footer-links, footer, a[href], table thead {
    display: none;
  }

  // overrides print style to put URLs after hrefs
  a[href]:after {
    content: none !important;
  }

  // override display:none if the link is to a student or group page
  a[href*="groups"] {
    display: inline !important;
    text-decoration: none !important;
  }

  // replace thead with these titles
  td[data-role="group-leader"]::before {
    font-weight: bold;
    content: "\a\a\a\aGroup Leader: "; //newlines get out of the way of the header
    white-space: pre; //because there are newlines in the content
  }
  td[data-role="group-members"]::before {
    font-weight: bold;
    content: "Other Members: \a";
    white-space: pre;
  }
  td[data-role="group-transfers"]::before {
    font-weight: bold;
    content: "Transfers: ";
  }

  // page break after any content with class page-break
  // page breaks only work after block content
  .page-break{
    display: block;
    page-break-before: always !important;
  }

  table, h1 {
    page-break-after: always !important;
  }
}
