.printable-group-report {
  td[data-role="group-leader"] { width: 20%; }
  td[data-role="group-members"] { width: 70%; }
  td[data-role="group-transfers"] { width: 10%; }
}

/* styles for physically printing the group report */
@media print {

  td[data-role="group-leader"] {
    //display: block;
    border-bottom: 1px solid black;
    //border-top: 1px solid black;
    //border-left: 1px solid black;
    //border-right: 1px solid black;
    //text-align: left;
  }
  td[data-role="group-members"] {
    display: block;
    //text-align: center;
   }
  td[data-role="group-transfers"] {
    //display: block;
    //text-align: right;
  }

  /* remove navbar and footer */
  .top-bar, .top-bar-title, .footer, .footer-links, footer {
    display: none;
  }

  a[href]:after {
    content: none !important;
  }

  /* only display links which are students' names */
  a[href] {
    display: none;
  }
  a[href*="groups"] {
    display: inline !important;
    text-decoration: none !important;
  }

  table thead, h3 { display: none; }
  h1 { page-break-after: always; }

  td[data-role="group-leader"]::before {
    font-weight: bold;
    content: "\a\aGroup Leader: ";
    white-space: pre;
  }
  td[data-role="group-members"]::before {
    font-weight: bold;
    content: "Other Members: \a";
    white-space: pre;
  }
  td[data-role="group-transfers"]::before {
    font-weight: bold;
    content: "Transfers: ";
  }

  .page-break{
    display: block;
    page-break-before: always !important;
  }

  table {
    page-break-after: always !important;
  }
}
