<% if flash.any? %>
  <% user_facing_flashes.each do |key, value| -%>
    <div class="alert alert-<%= key %>" data-closable>
      <div class="row">
        <%= value %>
        <button class="close" aria-label="Dismiss alert" type="button" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  <% end %>
<% end %>
