<footer class="footer">
  <div class="container">
    <span class="text-muted">Built by the <%= link_to 'Yale Student Developer & Mentorship Program', 'https://github.com/YaleSTC/vesta', target: '_blank' %></span>
    <span class="text-muted" style="float: right;">Need help? <%= link_to 'Contact the developer team', 'mailto:vesta-support@yale.edu' %>.</span>
  </div>
</footer>
