<%= render 'nav_student' %>

<li class="nav-item">
  <a class="nav-link" href="#"><%= link_to 'Export Group Leader Emails', new_email_export_path %></a>
</li>
<li class="nav-item">
  <a class="nav-link" href="#"><%= link_to 'All Buildings', buildings_path %></a>
</li>
